{% extends "base.html" %}
{% load static %}

{% block title %}Welcome to Social - Network, Community, and Event{% endblock %}

{% block content %}
<div class="container text-center" style="max-width: 600px; padding-top: 50px;">
    <!-- Logo and Title START -->
    <div class="mb-4">
        {% if user.is_authenticated %}
            <img src="{% static 'assets/images/custom_logo.svg' %}" alt="Custom Logo" class="img-fluid" style="max-width: 150px; height: auto;">
        {% else %}
            <img src="{% static 'assets/images/custom_logo_white.svg' %}" alt="Custom Logo" class="img-fluid" style="max-width: 150px; height: auto;">
        {% endif %}
        <h1 class="display-6 mt-3">Progress In Development</h1>
        {% if user.is_authenticated %}
            <p>You are now logged in</p>
        {% else %}
            <p class="lead">Created for SoftUni Students</p>
        {% endif %}
    </div>
    <!-- Logo and Title END -->

    <!-- Content Options START -->
    <section class="mb-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                {% if user.is_authenticated %}
                    <h3>Explore Content</h3>
                    <p>Check out the latest posts and discussions on the platform.</p>
                    <a href="{% url 'content-list' %}" class="btn btn-primary">Browse Content</a>
                {% else %}
                    <h3>Explore Public Posts</h3>
                    <p>Discover insights and updates in our collection of public posts, accessible to everyone.</p>
                    <a href="{% url 'content-list' %}" class="btn btn-primary">Browse Content</a>
                {% endif %}
            </div>
            <div class="col-md-4 mb-4">
                {% if user.is_authenticated %}
                    <h3>Create a Post</h3>
                    <p>Share your thoughts with the community.</p>
                    <a href="{% url 'create-post' %}" class="btn btn-secondary">Create Post</a>
                {% else %}
                    <div class="col-mb-4 or-section">
                        <h2>OR</h2>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4 mb-4">
                {% if user.is_authenticated %}
                    <h3>Edit your Account</h3>
                    <p>Change your details or password in your account settings</p>
                    <a href="{% url 'profile' %}" class="btn btn-success">View Profile</a>
                {% else %}
                    <h3>Connect with Members</h3>
                    <p>Engage with members across the platform by signing up/login and create posts.</p>
                    <a href="{% url 'register' %}" class="btn btn-success">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Content Options END -->
</div>
{% endblock %}
