{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-lg-3">
      <div class="card w-100">
        <div class="card-body">
          <ul class="nav nav-tabs nav-pills nav-pills-soft flex-column fw-bold gap-2 border-0">
            <li class="nav-item">
              <a class="nav-link active" href="#account-settings" data-bs-toggle="tab">
                <img class="me-2 h-20px fa-fw" src="{% static 'assets/images/icon/person-outline-filled.svg' %}" alt="">
                <span>Account</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#nav-remove-account" data-bs-toggle="tab">
                <img class="me-2 h-20px fa-fw" src="{% static 'assets/images/icon/trash-outline-filled.svg' %}" alt="">
                <span>Remove Account</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-9 vstack gap-4">
      <div class="tab-content" id="settingsTabContent">
        <div class="tab-pane fade show active" id="account-settings">
          <div class="card mb-4">
            <div class="card-header border-0 pb-0">
              <h5 class="card-title">Account Settings</h5>
              <p class="mb-0">Manage your account details.</p>
            </div>
            <div class="card-body">
              <form method="post" enctype="multipart/form-data" action="{% url 'profile_edit' %}" class="row g-3">
                {% csrf_token %}
                <div class="col-sm-6 col-lg-4">
                  <label class="form-label">First Name</label>
                  <input type="text" name="first_name" class="form-control" value="{{ user.first_name }}">
                </div>
                <div class="col-sm-6 col-lg-4">
                  <label class="form-label">Last Name</label>
                  <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}">
                </div>
                <div class="col-sm-6 col-lg-4">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" value="{{ user.email }}" readonly>
                </div>
                <div class="col-sm-6 col-lg-6">
                  <label class="form-label">GitHub Link</label>
                  <input type="url" name="github" class="form-control" placeholder="https://github.com/username" value="{{ user.userprofile.github }}">
                </div>
                <div class="col-sm-6 col-lg-6">
                  <label class="form-label">Instagram Link</label>
                  <input type="url" name="instagram" class="form-control" placeholder="https://instagram.com/username" value="{{ user.userprofile.instagram }}">
                </div>
                <div class="col-12 text-end mt-4">
                  <button type="submit" class="btn btn-primary mb-0">Save Changes</button>
                </div>
              </form>
            </div>
          </div>

          <div class="card">
            <div class="card-header border-0 pb-0">
              <h5 class="card-title">Change your password</h5>
              <p class="mb-0">Update your password for increased security.</p>
            </div>
            <div class="card-body">
              <form method="post" action="{% url 'change_password' %}" class="row g-3">
                {% csrf_token %}
                <div class="col-12">
                  <label class="form-label">Current password</label>
                  <input type="password" name="old_password" class="form-control" placeholder="Enter current password">
                </div>
                <div class="col-12">
                  <label class="form-label">New password</label>
                  <div class="input-group">
                    <input name="new_password1" class="form-control" type="password" placeholder="Enter new password">
                    <button class="btn btn-outline-secondary" type="button">Show</button>
                  </div>
                </div>
                <div class="col-12">
                  <label class="form-label">Confirm password</label>
                  <input name="new_password2" type="password" class="form-control" placeholder="Confirm new password">
                </div>
                <div class="col-12 text-end mt-4">
                  <button type="submit" class="btn btn-primary mb-0">Update Password</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-remove-account">
          <div class="card">
            <div class="card-header border-0 pb-0">
              <h5 class="card-title text-danger">Remove Account</h5>
              <p class="mb-0">Permanently delete your account and all associated data.</p>
            </div>
            <div class="card-body">
              <form method="post" action="{% url 'remove_account' %}" class="row g-3">
                {% csrf_token %}
                <div class="col-12">
                  <label class="form-label">Please type your password to confirm</label>
                  <input type="password" name="password" class="form-control" placeholder="Enter your password">
                </div>
                <div class="col-12 text-end mt-4">
                  <button type="submit" class="btn btn-danger mb-0">Delete Account</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
