{% extends "base.html" %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center vh-100 py-5">
        <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
            <div class="card card-body rounded-3 p-4 p-sm-5">
                <div class="text-center">
                    <h1 class="mb-2">Sign up</h1>
                    <span class="d-block">Already have an account? <a href="{% url 'login' %}">Sign in here</a></span>
                </div>
                
                <!-- Form START -->
                <form method="post" class="mt-4" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="mb-3 input-group-lg">
                        {{ form.email }}
                        <small>We'll never share your email with anyone else.</small>
                    </div>
                    <div class="mb-3 position-relative">
                        <div class="input-group input-group-lg">
                            {{ form.password }}
                            <span class="input-group-text p-0">
                                <i class="fa-solid fa-eye-slash cursor-pointer p-2 w-40px"></i>
                            </span>
                        </div>
                    </div>
                    <div class="mb-3 input-group-lg">
                        {{ form.password_confirm }}
                    </div>
                    <div class="mb-3 text-start">
                        <input type="checkbox" class="form-check-input" id="keepsingnedCheck">
                        <label class="form-check-label" for="keepsingnedCheck"> Keep me signed in</label>
                    </div>
                    <div class="d-grid"><button type="submit" class="btn btn-lg btn-primary">Sign me up</button></div>
                    <p class="mb-0 mt-3 text-center">©2024 <a target="_blank" href="https://www.webestica.com/">Webestica.</a> All rights reserved</p>
                </form>
                <!-- Form END -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
